@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kurale|Lily+Script+One|Sacramento|Sail');
@import url('https://fonts.googleapis.com/css?family=Galada|Marko+One');
html, body {
      height: 100%;
}
.bg {
      background-image: url( image/pix2.jpg);
      height: 100%;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
}
.ab {
      background-color:black;
      background-image: url(image/abt.jpg);
      height: 100%;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      
}
.pt {
background-color: black;
}
.cn {
      background-image: url(image/blue.jpg)
}
h1 {color:
      #0091EA;
      font-family: 'Marko One', serif;
      word-spacing: 4px;
      font-size: 40px;
      text-align: right;
}
div.begin {
      float: right;
      padding-right: 80px;
}
Body {
      font-family: 'Kurale', serif;
}
#best {
      color: white;
      text-align: right;
      padding-top:2px;
}
p {
      font-size: 10.5px;
          
}
.begin {
      text-align: center;
}
div#header {
      border-top-style: solid;
      border-bottom-style: solid;
      border-bottom-color: #3E2723;
      border-top-color:#3E2723;
      border-width: 7px;
      box-sizing: border-box;
      background-color: #0091ea99;
      position: relative;
      padding-left: 50px;
      padding-right: 50px;
      margin: 20px;
      margin-left: 150px;
      margin-right: 150px;
}
div#header ul {
            list-style-type: none;
            font-size: 20px;
            color: white;
            font-weight: bold;
            text-align: center;
            overflow: hidden;
            width: 100%;
           
}
div#header ul li {
      display: inline-block;
      padding-right: 100px;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
}
      

div.describe {
      width: 30%;
      float: left;
      text-align: justify;
      padding: ;
      padding-left:450px ;
      padding-right: ;
      
      
}
div.abtvid {
      float: left;
      width: 30%;
      padding-left: 50px;
      
}
p.one {
      border-width: 38px;
      border-width: thick;
      padding-right: 30px;
      color: white;

}
p.two {
      border-width: 38px;
      border-width: thick;
      color: white;
      padding-right: 30px;
}
ol#list li{
      padding-right: 30px;
      text-align: justify;
      color: white;
      font-size: 10.5px;
}
ol#list a {
      color: #0091EA;
}
#portfolio {
      font-size: 25px;
      color: #0091EA;
      text-align: center;
      font-style: bold;
      text-transform: uppercase;
      font-weight: bold;
}
#list {
      font-size: 16px;
     

}
p#best {
      font-style: italic;
      font-weight: bold;
      font-size: 12px;
      padding-right: 70px;
      margin-top: 0px;
}
#me, #welcome {
      text-transform: uppercase;
      padding-right: 70px;
}
p {
      line-height: 1.6em;
      text-align: justify;
}
#xxx::first-letter {
      font-size: 200%;
}
a:hover {
      color: white;
}
a {
      text-decoration: none;
      color: black;
      font-weight: bold;
}
a:focus {
      color: white;
}

legend {
      color: #0091EA;
      font-weight: bold;
      
}
textarea {
      font-family: 'Kurale', serif;
      border:3px solid #0091EA;
      width: 435px;
      height: 114px;
      border-radius: 4px;
}
iframe {
      height: 250px;
      width: 350px;
      border: 3px solid #0091EA;
      border-radius: 4px;
      align-self: center;
}
div.class{
      float: right;
}
footer {
      text-align: center;
}
div.form {
      color: white;
      padding: 450px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-style: thick;
      border-bottom-color: #0091EA;
}
input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border-style: thick;
      border-color: #0091EA;
      border-width: 3px;
      border-radius: 4px;
}
input[type=submit] {
      width: 150px;
      color: white;
      background-color: #0091EA;
}
div.icons {
      color: white;
    
}
div.icons a {
color: #0091EA;

}
div.icons a:hover {
      color: white;
}
div.icons ul {
      list-style-type: none;
      padding-left: 0px;
      margin-inline-start: 0px;
}
div.icons ul li {
      display: inline;
      padding-left: 10px;
      font-size: 12px;
}
  .flex-container {
      display: flex;
      flex-wrap: wrap;
      background-color: #0091ea66;
      margin: 10px;
      padding-left: 150px;
     
    }
    .flex-container img{
      width: 300px;
      height: 300px;
      padding: 20px;
    }
    img {
          max-width: 100%;
          max-height: auto;
    }
    #contact {
          font-size: 12px;
    }