@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kurale|Lily+Script+One|Sacramento|Sail');
@import url('https://fonts.googleapis.com/css?family=Galada|Marko+One');
html, body {
            max-height: 100%;
            max-width: 100% ;
      }
.bg {
      background-image: url( image/pix2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-size: 100%;
      height: 100%;
}
.ab {
      background-color: rgb(7, 54, 160);
      background-image: url(image/blue2.jpg);
      height: 100%;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      
}
.pt {
background-color: black;
}
.cn {
      background-image: url(image/blue.jpg)
}
h1 {color:
      #0091EA;
      font-family: 'Marko One', serif;
      word-spacing: 4px;
      font-size: 40px;
      text-align: right;
}
div.begin {
      float: right;
      padding-right: 80px;
}
Body {
      font-family: 'Kurale', serif;
}
#best {
      color: white;
      text-align: right;
      padding-top:2px;
}
p {
      font-size: 12px;
          
}
.begin {
      text-align: center;
}
div#header {
      border-top-style: solid;
      border-bottom-style: solid;
      border-bottom-color: rgb(255, 255, 255);
      border-top-color:rgb(253, 251, 251);
      border-width: 3px;
      box-sizing: border-box;
      background-color: rgb(0, 109, 172);
      position: relative;
      margin: 20px;
      margin-left: 150px;
      margin-right: 150px;
      
      
}
div#header ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0px;
            list-style-type: none;
            font-size: 20px;
            color: white;
            font-weight: bold;
            text-align: center;
            overflow: hidden;
            width: 100%;
            
           
}
div#header ul li {
      padding: 0 50px;
      color: white;
}      

div.describe {
      width: 30%;
      text-align: ;
      padding-left:100px ;
}
 div.abtpix {
padding-left: 50px;
 }     
      
div.abt {
      display: flex;
      flex-direction: row;
}
div.abtvid {
      width: 30%;
      padding-left: 50px;
      padding-right: 50px;
      
}
p.one {
      border-width: 38px;
      padding-right: 30px;
      color: white;
      text-align: justify;

}
p.two {
      border-width: 38px;
      color: white;
      padding-right: 30px;
      text-align: justify;
}
ol#list li{
      padding-right: 30px;
      text-align: justify;
      color: white;
      font-size: 12px;
}
ol#list a {
      color: #0091EA;
}
#portfolio {
      font-size: 25px;
      color: #0091EA;
      text-align: center;
      font-style: bold;
      text-transform: uppercase;
      font-weight: bold;
}
#list {
      font-size: 16px; 
}
p#best {
      font-style: italic;
      font-weight: bold;
      font-size: 12px;
      padding-right: 70px;
      margin-top: 0px;
}
#me, #welcome {
      text-transform: uppercase;
      padding-right: 70px;
}
#me2 {
      text-transform: uppercase;
      padding-right: 150px;
}
p {
      
      text-align: justify;
}
#xxx::first-letter {
      font-size: 200%;
}
a:hover {
      color: white;
}
a {
      text-decoration: none;
      color: black;
      font-weight: bold;
}
a:focus {
      color: white;
}
div.legend {
      padding: 100px;
}

legend {
      color: #0091EA;
      font-weight: bold;
      font-size: 24px;
      
}
textarea {
      font-family: 'Kurale', serif;
      border:3px solid #0091EA;
      width: 435px;
      height: 114px;
      border-radius: 4px;
}
iframe {
      height: 250px;
      width: 350px;
      border: 3px solid #0091EA;
      border-radius: 4px;
      align-self: center;
}
div.class{
      float: right;
}
footer {
      text-align: center;
}
div.form {
      color: white;
      padding: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-style: thick;
      border-bottom-color: #0091EA;
      display: flex;
      flex-direction: row;
}
div.form2 {
      padding-left: 150px;
}
input {
      width: 435px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border-style: thick;
      border-color: #0091EA;
      border-width: 3px;
      border-radius: 4px;
}
input[type=submit] {
      width: 150px;
      color: white;
      background-color: #0091EA;
}
div.icons {
      color: white;
    
}
div.icons a {
color: #0091EA;

}
div.icons a:hover {
      color: white;
}
div.icons ul {
      list-style-type: none;
      padding-left: 0px;
      margin-inline-start: 0px;
}
div.icons ul li {
      display: inline;
      padding-left: 10px;
      font-size: 12px;
}
  .flex-container {
      display: flex;
      flex-wrap: wrap;
      background-color: #0091ea66;
      margin: 10px;
      padding-left: 150px;
     
    }
    .flex-container img{
      width: 300px;
      height: 300px;
      padding: 20px;
    }
    img {
          max-width: 100%;
          max-height: auto;
    }
    #contact {
          font-size: 14px;
    }
    @media screen and (max-width: 1000px) {
      .bg {
            background-image: url(image/pix1.jpg);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 130%;
            height: 500%;
            width: 100%;
            background-color: black;
      }
      h1 {color:
            #0091EA;
            font-family: 'Marko One', serif;
            word-spacing: 4px;
            font-size: 18px;
            text-align: centre;
      }
      div.begin {
            padding-right: 0px;
      }
      #welcome {
            text-align: center;
      }
      div#header {
            border-top-style: solid;
            border-bottom-style: solid;
            border-bottom-color: rgb(255, 255, 255);
            border-top-color:rgb(253, 251, 251);
            border-width: 3px;
            box-sizing: border-box;
            background-color: rgb(0, 109, 172);
            margin-left: 20px;
            margin-right: 20px;
            
      }
      div#header ul {
                  padding: 2px;
                  list-style-type: none;
                  font-size: 10px;
                  color: white;
                  font-weight: bold;
                  text-align: center;
                  
                 
      }
      div#header ul li {
            padding: 1px;
            color: white;
            display: inline;
      }
      .ab {
            background-color: black;
            background-image: url(image/blue2.jpg); 
      }
            div.abt {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
      }
      div.describe {
            padding-left: 10px;
            border: 0px;
            width: 100%;
      }
      div.abtvid {
            position: relative;
            right:30px;
      }
      .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: rgb(0, 109, 172);
            margin: 10px;
            padding:20px;
           
          }
          .flex-container img{
            width: 150px;
            height: 150px;
            padding: 5px;
          } 
      div.form {
            display: flex;
            flex-direction:column;
      } 
      div.form2 {
            padding-left: 20px;
            padding-top: 5px;
      }  
      div.legend {
           padding:  20px;
           padding-top: 0px;
      }
      input {
            width: 250px;
      }
      textarea {
            width: 250px;
      }
      }